@model Pasta
@{
    ViewData["Title"] = "Home Page";
}

<div class="bestelling">
    <form asp-action="Toevoegen" method="post">
        <div>
            <h3>1. Kies de pasta</h3>
            <select asp-for="Soort" asp-items="@new SelectList(Enum.GetNames(typeof(Soort)))"></select>
        </div>
            <div>
                <h3>2. Kies de grootte</h3>
                <select asp-for="Grootte" asp-items="@new SelectList(Enum.GetNames(typeof(Grootte)))"></select>
            </div>
                <div>
                    <h3>3. Kies de saus</h3>
                    <select asp-for="Saus" asp-items="@new SelectList(Enum.GetNames(typeof(Saus)))"></select>
                </div>
                    <div>
                        <input type="submit" value="Voeg bestelling toe" class="btn btn-primary" />
                    </div>
</form>
</div>